/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.TextSmall
{
	font-size: 18px;
	color: #353535;
}

.TextMedium
{
	font-size: 22px;
	color: #353535;
}

.TextLarge
{
	font-size: 26px;
	color: #353535;
}

.TextExtraLarge
{
	font-size: 42px;
	color: #353535;
}

.button
{
	font-size: 22px;
	color: #353535;
}

.popup
{
	background-color: #ffffff;
	modal-transparency: 0.65;
	modal-transparency-color: #000000;
	modal-transparency-blur: 0;
}
